@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* to apply styles to all */
@layer base{
  body{
    @apply font-[Raleway];
  }

  li{
    @apply px-4;
    @apply cursor-pointer;
  }

}

.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgba(112,157,255,0.8),
    hsla(242, 74%, 61%,0.8)

  ) !important;
}